@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  
  body {
    @apply bg-cream text-warm-brown;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
